
{% extends "personal/header.html" %}
{% block content %}
    <div align="center">
        <div class="page-header">
            <h3>Howdy Y'all! </h3>
        </div>
            <p>
                <b>My name is Jesus Villarreal Jr, and I am an aspiring web developer/network technician seeking entry-level opportunities. I currently reside in South Texas. </b>
            </p>
            <p> I recently graduate from <a href="http://www.utrgv.edu/en-us/"> University of Texas Rio Grande Valley </a> with a bachelors in Computer Science.
                I also acquired several CompTIA certificates such as <b><font color="red">CompTIA Security+, CompTIA Network+, and CompTIA A+</font></b>.
                I enjoy learning new subjects and creating applications using modern languages and frameworks.
                Every now and then I go to Technology Events to keep up with recent technology changes.
                Besides academics, I'am often be found playing board games and video games, or lifting weights & going to the nearest bike trail.
            </p>
    </div>

{% endblock %}
