{% extends 'personal/header.html' %}
{% load static %}
{% block content %}
    <div class="text-center">
        <div class="page-header">
            <h1>Projects </h1>
        </div>
        <h2 style="font-size: 30px;">
            The Project Page
        </h2>
        <h3> Check out a few projects I've been working on.</h3>
    </div>
    <hr>
    <br>
    <div class="row pt-5">
        <div class="col-lg-5">
            <div class="card img-fluid" style="width:500px">
                <img class="card-img-top" src="{% static 'personal/img/project1.gif' %}" style="width:100%; height:100%; position: relative">
                <div class="card-img-overlay text-center ">
                    <div class="icons">
                        <i class="fa fa-desktop" style="font-size: 24px; margin-top: 5px; margin-left:1px"></i>
                        <i class="fa fa-gamepad" style="font-size: 24px; margin-top: 5px; margin-left:1px"></i>
                        <i class="fa fa-github" style="font-size: 24px"></i>
                    </div>
                    <p class="card-text" style="font-weight: bold; font-size: 20px; color: rgba(0,70,147,0.75)"> RPG-Like Game</p>
                    <a href="#" class="btn btn-round btn-md text-center" style="border-radius: 35px; border: 2px solid rgba(0,70,147,0.75);">
                        <i class="fa fa-clone left"></i> View Project</a>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-11 col-10">
                    <h4 style="font-weight: bold"> Project </h4>
                    <p> • Developed a 2D roguelike/survival video game using Python and the library called tdl.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 col-10">
                    <h5 style="font-weight:bold">Objective</h5>
                    <p> • Mainly focused on employing new screens, enemies, equipment effects, items, and new features.
                        Implemented a game store and gold feature for users to buy items with in-game gold.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 col-10">
                    <h5 style="font-weight:bold">Programming Languages</h5>
                    <p style="color: grey; margin-left:10px"> Python</p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row mt-lg-4">
        <div class="col-lg-7">
            <div class="row">
                <div class="col-1">
                    <h4 style="font-weight: bold"> Project </h4>
                    <p> • Created a personal portfolio website using Python and Django framework. Contains a Home, Projects, Blog, and Contact page.
                        Blog uses an Sqlite database to hold the posts and comments. Bootstrap v4 is in use.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 style="font-weight:bold">Programming Languages</h5>
                    <p style="color:grey; margin-left:10px"> Python/Django, HTML, CSS, Sqlite</p>
                </div>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="card img-fluid" style="width:500px">
                <img class="card-img-top" src="{% static 'personal/img/project2.gif' %}" style="width:100%; height:100%; position: relative">
                <div class="card-img-overlay text-center ">
                    <div class="icons">
                        <i class="fa fa-desktop" style="font-size: 24px; margin-top: 5px; margin-left:1px"></i>
                        <i class="fa fa-sitemap" style="font-size: 24px; margin-top: 5px; margin-left:1px"></i>
                        <i class="fa fa-html5" style="font-size: 24px"></i>
                        <i class="fa fa-github" style="font-size: 24px"></i>
                    </div>
                    <p class="card-text" style="font-weight: bold; font-size: 20px; color: rgba(0,255,0,.75)"> Portfolio Web Site</p>
                    <a href="#" class="btn" style="border-radius: 35px; border: 2px solid rgba(0,255,0,.75);">
                        <i class="fa fa-clone left"></i> View Project</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row pt-5">
        <div class="col-lg-5">
            <div class="card img-fluid" style="width:500px">
                <img class="card-img-top" src="{% static 'personal/img/project3.gif' %}" style="width:100%; height:100%; position: relative">
                <div class="card-img-overlay text-center ">
                    <div class="icons">
                        <i class="fa fa-desktop" style="font-size: 24px; margin-top: 5px; margin-left:1px"></i>
                        <i class="fa fa-chrome" style="font-size: 24px; margin-top: 5px; margin-left:1px"></i>
                        <i class="fa fa-html5" style="font-size: 24px"></i>
                    </div>
                    <p class="card-text" style="font-weight: bold; font-size: 20px; color: rgba(0,70,147,0.75)"> Google Chrome Extension</p>
                    <a href="#" class="btn btn-round btn-md text-center" style="border-radius: 35px; border: 2px solid rgba(0,70,147,0.75);">
                        <i class="fa fa-clone left"></i> View Project</a>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-11 col-10">
                    <h4 style="font-weight: bold"> Project </h4>
                    <p> • Cooperated with a team of 2 in creating and developing a Google Chrome Extension which detected if a Sites URL is Legitimate/Phishing by using Machine Learning.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 col-10">
                    <h5 style="font-weight:bold">Objective</h5>
                    <p> • Server and client-side implemented in Python/Flask, HTML, JavaScript, and using Chrome’s API.
                        • sed several python packages such as NumPy, Scikit-learn, pandas, and Matplotlib to implement Machine Learning.
                        • Mainly focused in implementing the Server/Client-side, Google Chrome Extension, and data for use in the main Classifier.
                        • Acquired data from different format text files and implemented data manipulation.
                        • Wrote code to navigate through the data and check through each row for several ‘features’.
                        • Assisted in developing two classifiers; Naïve Bayes and SVM Classifier.
                        • Data included 25,000 verified phishing URL’s and 1,000 Legitimate URL’s.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 col-10">
                    <h5 style="font-weight:bold">Programming Languages</h5>
                    <p style="color: grey; margin-left: 10px"> Python/Flask, HTML, JavaScript, Chrome's API</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
     <div class="row mt-lg-4">
        <div class="col-lg-7">
            <div class="row">
                <div class="col-1">
                    <h4 style="font-weight: bold"> Project </h4>
                    <p> • Collaborated on a team of 3 by developing a 2D zombie/survival video game and a 3D survival game.
                        • Both Implemented in Python.
                        • 2D game developed in Pygame, and 3D game developed using the game engine Panda3D.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 style="font-weight:bold">Objective</h5>
                    <p> • Mainly focused on the programming of all the movement of the characters, projectile models, and interaction/detecting collisions between models.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <h5 style="font-weight:bold">Programming Languages</h5>
                    <p style="color:grey; margin-left:10px"> Python</p>
                </div>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="card img-fluid" style="width:500px">
                <img class="card-img-top" src="{% static 'personal/img/project4.gif' %}" style="width:100%; height:100%; position: relative">
                <div class="card-img-overlay text-center ">
                    <div class="icons">
                        <i class="fa fa-desktop" style="font-size: 24px; margin-top: 5px; margin-left:1px"></i>
                        <i class="fa fa-gamepad" style="font-size: 24px; margin-top: 5px; margin-left:1px"></i>
                    </div>
                    <p class="card-text" style="font-weight: bold; font-size: 20px; color: rgba(0,255,0,.75)"> 2D/3D Game Development</p>
                    <a href="#" class="btn" style="border-radius: 35px; border: 2px solid rgba(0,255,0,.75);">
                        <i class="fa fa-clone left"></i> View Project</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}